---
---

@import "{{ site.theme }}";

.page-header{
color:#ffff;
background-color:#000000;
background-image: url("/assets/images/blogheader.jpg");
}

.main-content h1, 
.main-content h2, 
.main-content h3, 
.main-content h4, 
.main-content h5, 
.main-content h6 {
  color: #000000;
}
